version: '3.4'

services:
  api:
    build: ./
    image: myimage
    command: "uvicorn app.main:create_app --reload --workers 1 --host 0.0.0.0 --port 8000"
    ports:
      - 8000:8000
    volumes:
      - ${PWD}/:/app
      - /etc/localtime:/etc/localtime
    links: 
      - db

  db:
    container_name: db-dev
    image: mysql:5.7
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=mypass
      - MYSQL_DATABASE=mybd
    volumes:
      - db-data:/var/lib/mysql

  adminer:
    image: adminer
    ports:
      - 8080:8080
    links: 
      - db

volumes:
  db-data:
    driver: local