anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
astroid==2.5.6
async-cache==1.1.1
attrs==20.3.0
black==21.7b0
certifi==2022.6.15
cffi==1.15.0
cfgv==3.2.0
charset-normalizer==2.0.12
click==7.1.2
coverage==5.2.1
cryptography==3.4.7
distlib==0.3.1
fastapi==0.75.2
fastapi-utils==0.2.1
filelock==3.0.12
flake8==3.9.2
flasgger==0.9.5
Flask==1.1.2
Flask-JWT-Extended==4.3.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
identify==2.2.4
idna==3.3
iniconfig==1.1.1
isort==5.10.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lazy-object-proxy==1.6.0
linecache2==1.0.0
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mypy==0.921
mypy-extensions==0.4.3
mysqlclient==2.0.3
newrelic==6.2.0.156
nodeenv==1.6.0
packaging==21.3
pathspec==0.8.1
pluggy==1.0.0
pre-commit==2.19.0
py==1.11.0
pycodestyle==2.7.0
pycparser==2.21
pycrypto==2.6.1
pydantic==1.9.1
pydocstyle==6.1.1
pyflakes==2.3.1
PyJWT==2.3.0
pylint==2.8.3
pyparsing==3.0.9
pyrsistent==0.17.3
pytest==7.1.2
pytest-cov==3.0.0
python-dotenv==0.17.0
PyYAML==5.4.1
regex==2021.4.4
requests==2.27.1
six==1.15.0
sniffio==1.2.0
snowballstemmer==2.1.0
SQLAlchemy==1.4.37
starlette==0.17.1
toml==0.10.2
tomli==1.2.3
traceback2==1.4.0
typed-ast==1.4.3
typing-extensions==3.7.4.3
unittest2==1.1.0
urllib3==1.26.9
uvicorn==0.17.6
virtualenv==20.4.4
Werkzeug==1.0.1
wrapt==1.12.1
